.result-busca li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }
  
  .result-busca li:hover {
    background-color: #607D8B;
  }
  
  .result-busca li a {
    color: #888;
    display: block;
    text-decoration: none;
  }
  
  .result-busca li a:hover {
    color: white;
  }
  .result-busca li a:active {
    color: white;
  }
  #search-box {
    width: 200px;
    height: 20px;
  }
  
  
  ul.result-busca {
    margin-top: 0;
    padding-left: 0;
  }